{% load thumbnail %}
{% load guardiant_utils %}

<div class="gallery slideshow" id="grid">

    <ul id="grid-choices">
        {% for image in images %}
            <li class="section" data-order="{{ forloop.counter }}" style="background: url({% thumbnail image.src 320x190 crop %}); background-position: bottom;background-size: cover;"><div class="section-outer-wrapper"> <div class="section-inner-wrapper"><span class="title">{{ image.title }}</span> <div class="extended-content-wrapper"> <p>{{ image.extended_content|safe }}</p> </div> </div> </div>

            {#            <li class="section hover-tile-outer" style="background: url({% thumbnail image.src 320x190 crop %}); background-position: bottom;background-size: cover;">#}
{#                <div class="hover-tile-container">#}
{#                    <div class="hover-tile hover-tile-visible">#}
{#                        <span class="title">{{ image.title }}</span>#}
{#                    </div>#}
{#                    <div class="hover-tile hover-tile-hidden">#}
{#                        <span class="title">{{ image.title }}</span>#}
{#                        <p>{{ image.extended_content|safe }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
        {% endfor %}


    </ul>

</div>
