{% load thumbnail %}
{% load guardiant_utils %}

<div class="gallery slideshow" id="slideshow">

    <ul id="slides" class="bxslider">

        {% for image in images %}
            <li class="slide" data-order="{{ forloop.counter }}">
                <img src="{% thumbnail image.src 960x536 crop %}" alt="{{ image.alt }}" title="{{ image.title }}"  rel="#cmspluginGalleryImage{{ image.pk }}" />
                <div class="caption">
                        <h3>{{ image.title }}</h3>
                        {{ image.extended_content|safe }}
                </div>
            </li>
        {% endfor %}

    </ul>

    <div class="slideshow-nav">
        <div class="lozenge-wrapper">
            <ul class="lozenge">
                {% for image in images %}
                    <li>
                        <a data-slide-index="{{ forloop.counter0 }}" href="#cmspluginGalleryImage{{ image.pk }}" data-order="{{ forloop.counter }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></a>
                    </li>
                {% endfor %}

            </ul>
            <div class="lozenge-background"></div>
        </div>

    </div>
</div>

<script>
    $('.bxslider').bxSlider({
        pagerCustom: '.slideshow-nav .lozenge'
    });
</script>

{#<script type="text/javascript">#}
{#    var cfg = {#}
{#        fadeOut: {%  multiply gallery.slide_duration 1000 %},#}
{#        fadeIn: {%  multiply gallery.fade_duration 1000 %}#}
{#    }#}
{##}
{#    Slideshow.init(cfg);#}
{##}
{##}
{##}
{#</script>#}