{% load thumbnail %}
{% load guardiant_utils %}

<div class="quote-container" id="quote-slideshow">

    <div id="quote-slides">
        {% for image in images %}
            <div class="slide" data-order="{{ forloop.counter }}">
                <img src="{% thumbnail image.src 960x536 crop %}" alt="{{ image.alt }}" title="{{ image.title }}"  rel="#cmspluginQuoteImage{{ image.pk }}" />
                <div class="caption">
                    {{ image.extended_content|safe }}
                    <h5>{{ image.title }}</h5>

                </div>
            </div>
        {% endfor %}
    </div>

</div>

{#<script type="text/javascript">#}
{#    var paused = false;#}
{#    var w = $('.lozenge').width();#}
{#    $('.lozenge').css('width',w).css('margin-left',w/2*-1);#}
{#    $("#slides > div:gt(0)").hide();#}
{#    var $firstSlide = $('#slides > div.slide:first');#}
{#    $('.slideshow-nav .title').html($('img', $firstSlide).attr('title'));#}
{##}
{#    var doNextSlide = function() {#}
{#        var $nextSlide = $('#slides > div.slide:first')#}
{#                .fadeOut({%  multiply gallery.fade_time 1000 %})#}
{#                .next();#}
{#        $('.lozenge a.active').removeClass('active');#}
{#        var order = $nextSlide.data('order');#}
{##}
{##}
{#        $('.lozenge a[data-order=' + order+']').addClass('active');#}
{#        $('.slideshow-nav .title').html($('img', $nextSlide).attr('title'));#}
{##}
{#        $nextSlide.fadeIn({%  multiply gallery.fade_time 1000 %})#}
{#                .end()#}
{#                .appendTo('#slides');#}
{#    }#}
{##}
{#    var doPrevSlide = function() {#}
{#        var $nextSlide = $('#slides > div.slide:first')#}
{#                .fadeOut({%  multiply gallery.fade_time 1000 %})#}
{#                .parent().children().last();#}
{##}
{#        $('.lozenge a.active').removeClass('active');#}
{#        var order = $nextSlide.data('order');#}
{##}
{##}
{#        $('.lozenge a[data-order=' + order+']').addClass('active');#}
{#        $('.slideshow-nav .title').html($('img', $nextSlide).attr('title'));#}
{##}
{#        $nextSlide.insertAfter('#slides i.fa-forward')#}
{#                .fadeIn({%  multiply gallery.fade_time 1000 %})#}
{##}
{#    }#}
{##}
{#    setInterval(function() {#}
{#        if (paused == false) {#}
{#            doNextSlide();#}
{#        }#}
{#    },  {%  multiply gallery.slide_duration 1000 %});#}
{##}
{##}
{#    $(document).on('mouseover', '.slide, #slides i', function(e){#}
{#        e.preventDefault();#}
{#        $('#slides').addClass('hovering');#}
{#    });#}
{##}
{##}
{#    $(document).on('mouseout', '.slide, #slides i', function(e){#}
{#        e.preventDefault();#}
{#        $('#slides').removeClass('hovering');#}
{#    });#}
{##}
{#    $(document).on('click', '#slides i', function(e) {#}
{#       var $t = $(e.target);#}
{##}
{#        if ($t.hasClass('fa-forward')) {#}
{#            doNextSlide();#}
{#        }#}
{#        if ($t.hasClass('fa-backward')) {#}
{#            doPrevSlide();#}
{#        }#}
{##}
{#        if ($t.hasClass('fa-pause')) {#}
{#            paused = !paused;#}
{#            $t.toggleClass('paused');#}
{#        }#}
{#    });#}
{##}
{#</script>#}