@import "globals";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

body {
  -webkit-font-smoothing: antialiased;
  background-color: #454545;
}
body * {
  box-sizing: border-box;
}

#site-container {
  width: $CONTENT_WIDTH;
  margin: 0 auto;
  position: relative;
  // Style for Layer 0
  background-color: #FFF;
  @include box-shadow(0 0 101px rgba(0, 0, 0, 0.5));
}

.nav-header {
  // Style for Rectangle 1
  @include opacity(0.8);
  width: $CONTENT_WIDTH;
  height: 111px;
  background-color: #1B1B1B;
  @include box-shadow(0 0 31px rgba(0, 0, 1, 0.69));
  position: absolute;
  z-index: 1000;


  #main-nav {
    // fonts
    clear:both;
    float:right;
    margin-top: 38px;
    margin-right: 35px;

    li {
      display: inline-block;
      min-width: 70px;
      text-align: center;

      a {
        color: #FFF;
        font-family: "Helvetica Neue LT Std";
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .subnav {
    // Style for "Contact"
    float: right;
    margin-top: 17px;

    li {
      display: inline-block;
      margin-right: 34px;


      a, a:visited {
        color: #AEAEAE;
        font-family: "Helvetica Neue LT Std";
        font-size: 11px;
        text-decoration: none;
      }
    }
  }

  #guardiant-logo {
    background: image-url("guardiant_logo_horizontal_white.png");
    width: image-width("guardiant_logo_horizontal_white.png");
    height: image-height("guardiant_logo_horizontal_white.png");
    position: absolute;
    top: 49px;
    left: 29px;

  }
}


.footer {
  // Style for BOTTOM BAR
  width: $CONTENT_WIDTH;
  //height: 777px;
  background-color: #232323;
  padding-top: 53px;

  #footer-actions {
    margin: 0 auto 40px;
    text-align: center;
    .action {
      display: inline-block;
      width: 140px;
      text-align: center;
      vertical-align: top;
      margin-left: 90px;
      &:first-child {
        margin-left: 0px;
      }

      img {
        display: block;
        margin: 0 auto 21px;

      }

      &.phone {
        // Style for "1-432-563-LUBE"
        p {
          color: #B9B9B9;
          font-family: "Helvetica Neue LT Std";
          font-size: 12px;
          font-weight: 500;

        }
      }

      // Style for "1200 “B” West "
      p {
        color: #B9B9B9;
        font-family: "Georgia";
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  #footer-shares {
    @import "social_icons";
    text-align: center;
    li {
      display: inline-block;
    }
  }


  .copyright {
    // Style for "All trademark "
    color: #525252;
    font-family: "Helvetica Neue LT Std";
    font-size: 10px;
    padding: 60px 27px;
  }
}

.help-container {

  padding-top: 71px;


  .left-column {
    display: inline-block;
    padding-left: 40px;
  }

  .right-column {
    display: inline-block;
    padding-left: 75px;
    vertical-align: top;
    padding-top: 27px;
  }

  h2 {
    // Style for "How can we hel"
    color: #001345;
    font-family: "Helvetica Neue LT Std";
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
  }

  p {
    // Base style
    color: #737373;
    font-family: "Helvetica Neue LT Std";
    font-size: 18px;
    width: 568px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .button {
    // Style for Rounded Rectangle 4
    width: 207px;
    height: 27px;
    border: 1px solid #102239;
    @include border-radius(8px);
    // Style for "Contact us"
    color: #001345;
    font-family: "Helvetica Neue LT Std";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  a {
    display: block;
    // Style for Rounded Rectangle 4
    width: 207px;
    height: 27px;
    border: 1px solid #102239;
    @include border-radius(8px);

    // Style for "Contact us"
    color: #001345;
    font-family: "Helvetica Neue LT Std";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 27px;
    text-decoration: none;
    margin-bottom: 21px;

    &:visited {
      color: #001345;
    }
  }
}

.bb3 {
  img {
    display: block;
    max-width: 100%;
  }
  border-bottom: 3px solid #004168;
}


@import "about_us";


.two-up-light,
.two-up-blue
{
  margin: 0px auto 0;
  padding-left:  40px;
  padding-bottom: 40px;
  padding-top: 40px;
  display:block;
  .column {
    display: inline-block;
    vertical-align: top;

    width: ($CONTENT_WIDTH / 2) - $TWO_COLUMN_MARGIN - 5;
    ul {
      width: 80%;
      line-height: 24px;
      letter-spacing: .3px;
      h2 {
        // Style for "WHO WE ARE"
        color: #001345;
        font-family: "Helvetica Neue LT Std";
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      p {
        // Style for "Guardiant Lubr"
        color: #737373;
        font-family: "Georgia";
        font-size: 14px;
        font-weight: 400;

      }
    }

  }

}

.two-up-blue {
  background-color: #102139;
  .column {
    ul {
      h2, p {
        color: #fff;
      }

      h2 {
        line-height: 40px;
      }
      p {
        line-height: 30px;
      }
    }
  }
}
