/* line 5, ../sass/_slideshow.scss */
#homepage-slideshow {
  width: 960px;
  margin: 0px auto;
}
/* line 11, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow {
  width: 960px;
  height: 536px;
  position: relative;
}
/* line 19, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow .slide {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
/* line 28, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow i {
  display: none;
}
/* line 35, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i {
  display: block;
}
/* line 37, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-backward, #homepage-slideshow #slideshow #slides.hovering i.fa-forward, #homepage-slideshow #slideshow #slides.hovering i.fa-pause {
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #a2a2a2;
  top: 40%;
}
/* line 50, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-backward {
  left: 2%;
}
/* line 52, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-backward:hover {
  color: white;
}
/* line 59, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-pause {
  left: 47%;
  color: #a2a2a2;
}
/* line 63, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-pause.paused {
  color: white;
}
/* line 68, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-forward {
  right: 2%;
}
/* line 70, ../sass/_slideshow.scss */
#homepage-slideshow #slideshow #slides.hovering i.fa-forward:hover {
  color: white;
}

/* line 85, ../sass/_slideshow.scss */
.slideshow-nav {
  width: 100%;
  bottom: 0px;
  height: 29px;
  position: absolute;
  display: block;
  z-index: 1000;
}
/* line 93, ../sass/_slideshow.scss */
.slideshow-nav .nav-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  background-color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}
/* line 104, ../sass/_slideshow.scss */
.slideshow-nav .title {
  position: absolute;
  z-index: 4000;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-family: "Arial";
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-indent: 8px;
}
/* line 117, ../sass/_slideshow.scss */
.slideshow-nav .lozenge {
  margin: 0 auto;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #000;
  display: inline-block;
  padding: 0 2px;
  z-index: 3000;
}
/* line 131, ../sass/_slideshow.scss */
.slideshow-nav .lozenge li {
  float: left;
}
/* line 134, ../sass/_slideshow.scss */
.slideshow-nav .lozenge a {
  float: left;
  background: url('../img/grey-dot.png') no-repeat;
  width: 7px;
  height: 7px;
  margin: 3px 2px;
}
/* line 141, ../sass/_slideshow.scss */
.slideshow-nav .lozenge a.active {
  background: url('../img/green-dot.png') no-repeat;
}

/* line 152, ../sass/_slideshow.scss */
#product-features #slideshow-wrapper {
  width: 790px;
  margin: 30px auto;
  border: 1px solid #c6cbd0;
  padding: 5px;
}
/* line 158, ../sass/_slideshow.scss */
#product-features #slideshow-wrapper #slideshow {
  width: 790px;
  height: 391px;
  position: relative;
}
/* line 166, ../sass/_slideshow.scss */
#product-features #slideshow-wrapper #slideshow .slide {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/homepage.scss */
.slideshow {
  width: 960px;
}
/* line 14, ../sass/homepage.scss */
.slideshow .slide {
  position: relative;
}
/* line 16, ../sass/homepage.scss */
.slideshow .slide .caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 527px;
  height: 177px;
  background-color: #000;
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 30px;
  padding: 20px;
}
/* line 28, ../sass/homepage.scss */
.slideshow .slide .caption h3 {
  color: #E9E9E9;
  font-family: "Helvetica Neue LT Std";
  font-size: 27px;
  font-weight: 700;
}
/* line 37, ../sass/homepage.scss */
.slideshow .slide .caption h4 {
  color: #E9E9E9;
  font-family: "Helvetica Neue LT Std";
  font-size: 18px;
  font-style: italic;
}
/* line 45, ../sass/homepage.scss */
.slideshow .slide .caption p {
  color: #E9E9E9;
  font-family: "Georgia";
  font-size: 14px;
  font-weight: 400;
}

/* line 57, ../sass/homepage.scss */
.two-column {
  margin: 0px auto 0;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
/* line 62, ../sass/homepage.scss */
.two-column .column {
  display: inline-block;
  vertical-align: top;
  width: 455px;
}
/* line 67, ../sass/homepage.scss */
.two-column .column ul {
  width: 80%;
  line-height: 24px;
  letter-spacing: .3px;
}
/* line 71, ../sass/homepage.scss */
.two-column .column ul h2 {
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 80, ../sass/homepage.scss */
.two-column .column ul p {
  color: #737373;
  font-family: "Georgia";
  font-size: 14px;
  font-weight: 400;
}

/* line 93, ../sass/homepage.scss */
.quote-container {
  position: relative;
}
/* line 97, ../sass/homepage.scss */
.quote-container .slide {
  height: 388px;
}
/* line 100, ../sass/homepage.scss */
.quote-container .caption {
  position: absolute;
  top: 80px;
  left: 30px;
}
/* line 104, ../sass/homepage.scss */
.quote-container .caption p {
  color: #737373;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  width: 547px;
}
/* line 114, ../sass/homepage.scss */
.quote-container .caption h5 {
  color: #4A4A4A;
  font-family: "Helvetica Neue LT Std";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}

/* line 129, ../sass/homepage.scss */
.creto-container {
  background-color: #102239;
  color: #ffffff;
  padding: 63px 15px 63px 15px;
  border-top: 3px solid  #004168;
  border-bottom: 3px solid  #004168;
}
/* line 136, ../sass/homepage.scss */
.creto-container li {
  display: inline-block;
  vertical-align: middle;
}
/* line 141, ../sass/homepage.scss */
.creto-container li.title {
  color: #FFF;
  font-family: "Helvetica Neue LT Std";
  font-size: 18px;
  font-weight: 700;
  width: 222px;
  text-align: center;
  vertical-align: middle;
}
/* line 167, ../sass/homepage.scss */
.creto-container li.meaning {
  color: #FFF;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 580px;
  padding-left: 22px;
  border-left: 1px solid #004168;
}

/* line 189, ../sass/homepage.scss */
.ibhelper {
  height: 100%;
  display: inline-block;
}

/* line 195, ../sass/homepage.scss */
#grid-choices {
  display: inline-block;
  background-color: #102239;
}
/* line 199, ../sass/homepage.scss */
#grid-choices .section {
  color: #FFF;
  font-family: "Georgia";
  font-size: 24px;
  font-weight: 400;
  background-color: #191919;
  display: inline-block;
  width: 320px;
  height: 179px;
  vertical-align: bottom;
  float: left;
}
/* line 217, ../sass/homepage.scss */
#grid-choices .section span.title {
  border-bottom: 2px solid #004168;
  padding-bottom: 5px;
  color: #FFF;
  font-family: "Georgia";
  font-size: 24px;
  font-weight: 400;
}
/* line 229, ../sass/homepage.scss */
#grid-choices .section.active span.title {
  border-bottom: 2px solid #102239;
  padding-bottom: 10px;
}
/* line 234, ../sass/homepage.scss */
#grid-choices .section.active p {
  display: inline;
}
/* line 239, ../sass/homepage.scss */
#grid-choices .section p {
  color: #FFF;
  font-family: "Helvetica Neue LT Std";
  font-size: 11px;
  width: 226px;
  display: inline;
}

/* line 255, ../sass/homepage.scss */
.hover-tile-outer {
  background-position: bottom;
  background-size: cover;
  background-color: #FF0000;
  border: 1px solid #004168;
  height: 179px;
  margin-bottom: 40px;
  cursor: pointer;
}
/* line 270, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-container {
  height: 179px;
  overflow: hidden;
}
/* line 275, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-container:hover > .hover-tile {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
/* line 279, ../sass/homepage.scss */
.hover-tile-outer .hover-tile {
  -webkit-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out;
  background: inherit;
  color: white;
  height: inherit;
  padding: 1em 1.5em;
}
/* line 287, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-visible {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  font-weight: 200;
  padding-top: 1.5em;
  text-align: center;
}
/* line 295, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-hidden {
  background: rgba(0, 0, 0, 0.5);
}
/* line 297, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-hidden h4 {
  margin-bottom: .5em;
}
/* line 300, ../sass/homepage.scss */
.hover-tile-outer .hover-tile-hidden p {
  color: rgba(255, 255, 255, 0.7);
}
