/* line 5, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #454545;
}

/* line 10, ../sass/_global.scss */
body * {
  box-sizing: border-box;
}

/* line 14, ../sass/_global.scss */
#site-container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background-color: #FFF;
  -moz-box-shadow: 0 0 101px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 101px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 101px rgba(0, 0, 0, 0.5);
}

/* line 23, ../sass/_global.scss */
.nav-header {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 960px;
  height: 111px;
  background-color: #1B1B1B;
  -moz-box-shadow: 0 0 31px rgba(0, 0, 1, 0.69);
  -webkit-box-shadow: 0 0 31px rgba(0, 0, 1, 0.69);
  box-shadow: 0 0 31px rgba(0, 0, 1, 0.69);
  position: absolute;
  z-index: 1000;
}
/* line 34, ../sass/_global.scss */
.nav-header #main-nav {
  clear: both;
  float: right;
  margin-top: 38px;
  margin-right: 35px;
}
/* line 41, ../sass/_global.scss */
.nav-header #main-nav li {
  display: inline-block;
  min-width: 70px;
  text-align: center;
}
/* line 46, ../sass/_global.scss */
.nav-header #main-nav li a {
  color: #FFF;
  font-family: "Helvetica Neue LT Std";
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 57, ../sass/_global.scss */
.nav-header .subnav {
  float: right;
  margin-top: 17px;
}
/* line 62, ../sass/_global.scss */
.nav-header .subnav li {
  display: inline-block;
  margin-right: 34px;
}
/* line 67, ../sass/_global.scss */
.nav-header .subnav li a, .nav-header .subnav li a:visited {
  color: #AEAEAE;
  font-family: "Helvetica Neue LT Std";
  font-size: 11px;
  text-decoration: none;
}
/* line 76, ../sass/_global.scss */
.nav-header #guardiant-logo {
  background: url('../img/guardiant_logo_horizontal_white.png?1409607068');
  width: 238px;
  height: 39px;
  position: absolute;
  top: 49px;
  left: 29px;
}

/* line 88, ../sass/_global.scss */
.footer {
  width: 960px;
  background-color: #232323;
  padding-top: 53px;
}
/* line 95, ../sass/_global.scss */
.footer #footer-actions {
  margin: 0 auto 40px;
  text-align: center;
}
/* line 98, ../sass/_global.scss */
.footer #footer-actions .action {
  display: inline-block;
  width: 140px;
  text-align: center;
  vertical-align: top;
  margin-left: 90px;
}
/* line 104, ../sass/_global.scss */
.footer #footer-actions .action:first-child {
  margin-left: 0px;
}
/* line 108, ../sass/_global.scss */
.footer #footer-actions .action img {
  display: block;
  margin: 0 auto 21px;
}
/* line 116, ../sass/_global.scss */
.footer #footer-actions .action.phone p {
  color: #B9B9B9;
  font-family: "Helvetica Neue LT Std";
  font-size: 12px;
  font-weight: 500;
}
/* line 126, ../sass/_global.scss */
.footer #footer-actions .action p {
  color: #B9B9B9;
  font-family: "Georgia";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
/* line 136, ../sass/_global.scss */
.footer #footer-shares {
  text-align: center;
}
/* line 104, social_icons/*.png */
.footer #footer-shares .social_icons-sprite, .footer #footer-shares .facebook a, .footer #footer-shares .facebook a:hover, .footer #footer-shares .vimeo a, .footer #footer-shares .vimeo a:hover, .footer #footer-shares .linkedin a, .footer #footer-shares .linkedin a:hover, .footer #footer-shares .youtube a, .footer #footer-shares .youtube a:hover {
  background-image: url('../img/social_icons-se266000195.png');
  background-repeat: no-repeat;
}
/* line 4, ../sass/_social_icons.scss */
.footer #footer-shares a {
  display: block;
  width: 29px;
  height: 29px;
}
/* line 10, ../sass/_social_icons.scss */
.footer #footer-shares .facebook a {
  background-position: 0 0;
}
/* line 13, ../sass/_social_icons.scss */
.footer #footer-shares .facebook a:hover {
  background-position: 0 -29px;
}
/* line 20, ../sass/_social_icons.scss */
.footer #footer-shares .vimeo a {
  background-position: 0 -116px;
}
/* line 23, ../sass/_social_icons.scss */
.footer #footer-shares .vimeo a:hover {
  background-position: 0 -144px;
}
/* line 30, ../sass/_social_icons.scss */
.footer #footer-shares .linkedin a {
  background-position: 0 -58px;
}
/* line 33, ../sass/_social_icons.scss */
.footer #footer-shares .linkedin a:hover {
  background-position: 0 -87px;
}
/* line 40, ../sass/_social_icons.scss */
.footer #footer-shares .youtube a {
  background-position: 0 -172px;
}
/* line 43, ../sass/_social_icons.scss */
.footer #footer-shares .youtube a:hover {
  background-position: 0 -201px;
}
/* line 139, ../sass/_global.scss */
.footer #footer-shares li {
  display: inline-block;
}
/* line 145, ../sass/_global.scss */
.footer .copyright {
  color: #525252;
  font-family: "Helvetica Neue LT Std";
  font-size: 10px;
  padding: 60px 27px;
}

/* line 154, ../sass/_global.scss */
.help-container {
  padding-top: 71px;
}
/* line 159, ../sass/_global.scss */
.help-container .left-column {
  display: inline-block;
  padding-left: 40px;
}
/* line 164, ../sass/_global.scss */
.help-container .right-column {
  display: inline-block;
  padding-left: 75px;
  vertical-align: top;
  padding-top: 27px;
}
/* line 171, ../sass/_global.scss */
.help-container h2 {
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 22px;
}
/* line 180, ../sass/_global.scss */
.help-container p {
  color: #737373;
  font-family: "Helvetica Neue LT Std";
  font-size: 18px;
  width: 568px;
  line-height: 28px;
  margin-bottom: 30px;
}
/* line 190, ../sass/_global.scss */
.help-container img {
  max-width: 100%;
  display: block;
}
/* line 195, ../sass/_global.scss */
.help-container .button {
  width: 207px;
  height: 27px;
  border: 1px solid #102239;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 209, ../sass/_global.scss */
.help-container a {
  display: block;
  width: 207px;
  height: 27px;
  border: 1px solid #102239;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 21px;
}
/* line 228, ../sass/_global.scss */
.help-container a:visited {
  color: #001345;
}

/* line 234, ../sass/_global.scss */
.bb3 {
  border-bottom: 3px solid #004168;
}
/* line 235, ../sass/_global.scss */
.bb3 img {
  display: block;
  max-width: 100%;
}

/* line 1, ../sass/_about_us.scss */
.about-us-gauges {
  padding-left: 40px;
}
/* line 3, ../sass/_about_us.scss */
.about-us-gauges > li {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
/* line 8, ../sass/_about_us.scss */
.about-us-gauges > li img {
  max-width: 100%;
  display: block;
}
/* line 14, ../sass/_about_us.scss */
.about-us-gauges h2 {
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
}
/* line 25, ../sass/_about_us.scss */
.about-us-gauges p {
  color: #737373;
  font-family: "Georgia";
  font-size: 14px;
  font-weight: 400;
  width: 392px;
  line-height: 24px;
}

/* line 37, ../sass/_about_us.scss */
.definition-with-quote {
  background-color: #102239;
  padding: 30px 0 30px 40px;
}
/* line 41, ../sass/_about_us.scss */
.definition-with-quote > li {
  display: inline-block;
}
/* line 45, ../sass/_about_us.scss */
.definition-with-quote li {
  width: 358px;
}
/* line 50, ../sass/_about_us.scss */
.definition-with-quote .definition {
  width: 358px;
  margin-right: 71px;
  vertical-align: top;
}
/* line 56, ../sass/_about_us.scss */
.definition-with-quote .definition h2 {
  font-family: "Helvetica Neue LT Std";
  font-weight: 500;
  color: #F0F0F0;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 67, ../sass/_about_us.scss */
.definition-with-quote .definition p {
  font-size: 14px;
  color: #ACACAC;
  line-height: 28px;
}
/* line 78, ../sass/_about_us.scss */
.definition-with-quote .quote {
  color: #ACACAC;
  font-family: "Georgia";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  border-left: 2px solid #004168;
  padding-left: 40px;
  line-height: 36px;
}
/* line 90, ../sass/_about_us.scss */
.definition-with-quote .quote .whom {
  color: #DADADA;
  font-family: "Helvetica Neue LT Std";
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #004168;
  border-bottom: 1px solid #004168;
  padding: 10px 0;
  margin-top: 40px;
  width: auto;
  display: inline;
  text-transform: uppercase;
  line-height: auto;
}

/* line 246, ../sass/_global.scss */
.two-up-light,
.two-up-blue {
  margin: 0px auto 0;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  display: block;
}
/* line 254, ../sass/_global.scss */
.two-up-light .column,
.two-up-blue .column {
  display: inline-block;
  vertical-align: top;
  width: 455px;
}
/* line 259, ../sass/_global.scss */
.two-up-light .column ul,
.two-up-blue .column ul {
  width: 80%;
  line-height: 24px;
  letter-spacing: .3px;
}
/* line 263, ../sass/_global.scss */
.two-up-light .column ul h2,
.two-up-blue .column ul h2 {
  color: #001345;
  font-family: "Helvetica Neue LT Std";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 273, ../sass/_global.scss */
.two-up-light .column ul p,
.two-up-blue .column ul p {
  color: #737373;
  font-family: "Georgia";
  font-size: 14px;
  font-weight: 400;
}

/* line 287, ../sass/_global.scss */
.two-up-blue {
  background-color: #102139;
}
/* line 291, ../sass/_global.scss */
.two-up-blue .column ul h2, .two-up-blue .column ul p {
  color: #fff;
}
/* line 295, ../sass/_global.scss */
.two-up-blue .column ul h2 {
  line-height: 40px;
}
/* line 298, ../sass/_global.scss */
.two-up-blue .column ul p {
  line-height: 30px;
}
