{% load cms_tags sekizai_tags menu_tags staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute "page_title" %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.bxslider.css"/>
    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.bxslider.min.js" %}"></script>
    {% render_block "css" %}
    {% block page_css %}{% endblock %}

</head>
<body>
{% cms_toolbar %}
<div id="site-container">
    <nav class="nav-header">
        <div id="guardiant-logo"></div>

        <ul class="subnav">
            <li><a href="#">Contact</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="#">Distributors</a></li>
        </ul>

        <div id="main-nav">
            <ul>
                {% show_menu 0 100 100 100 %}
            </ul>
        </div>
    </nav>

    {% placeholder base_content %}
    {% block base_content %}{% endblock %}

    <footer class="footer">
        <ul id="footer-actions">
            <li class="action phone">
                <img src="{{ STATIC_URL }}img/action_icons/phone.png" alt=""/>
                <p>1-432-563-LUBE</p>
            </li>
            <li class="action location">
                <img src="{{ STATIC_URL }}img/action_icons/location.png" alt=""/>
                <p>1200 “B” West I-20 East <br>Odessa, TX 79765</p>
            </li>
            <li class="action email">
                <img src="{{ STATIC_URL }}img/action_icons/email.png" alt=""/>
                <p>info@guardianttech.com</p>
            </li>
        </ul>

        <ul id="footer-shares">
            <li class="facebook"><a href=""></a>
            <li class="linkedin"><a href=""></a>
            <li class="vimeo"><a href=""></a>
            <li class="youtube"><a href=""></a>
        </ul>

        <p class="copyright">
            All trademark names:<br/>
            Graco, Trabon, Lubriquip, Manzel, Lincoln, DropsA, Premier Progressive, SB, Ajax, Ariel, Chicago Pneumatic, Energy Indus  tries, Ingersoll Rand, Dresser Rand, Gemini, White Superior Worthington Cub, Cooper Bessemer & Clark are the property of their respective companies and not associated with Guartiant Technologies LLC.
        </p>
    </footer>
    {% render_block "js" %}
</div>
</body>
</html>
